{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags-->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- CSS Files-->
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'app/css/bootstrap.min.css' %}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'app/css/styles.css' %}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'app/css/navbar.css' %}"
        />
        <!-- title djtag -->
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Fabelio Internship</title>
        {% endif %}
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
        <script type="text/javascript">
            function uuidv4() {
                return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(
                    /[xy]/g,
                    (c) => {
                        var r = (Math.random() * 16) | 0,
                            v = c == "x" ? r : (r & 0x3) | 0x8;
                        return v.toString(16);
                    }
                );
            }

            let device = Cookies.get("device");
            let first_time = !device ? true : false;
            device = !device ? uuidv4() : device;

            document.cookie = "device=" + device + ";domain=;path=/";
            if (first_time) {
                location.reload(true);
            }
        </script>
    </head>
    <body>
        <!-- As a heading -->
        <nav class="navbar">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">Fabelio</span>
            </div>
        </nav>
        {% block content %} {% endblock content %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"
        ></script>
    </body>
    <script src="{% static 'app/scripts/main.js' %}"></script>
</html>
