{%extends 'app/base.html'%} {% block content %} {% load static %}
<div class="container">
    <h4 class="title" style="text-align: center">For you</h4>
    <div class="product-box container">
        <h5>{{product.name}}</h5>
        <p>Colours: {{product.colours}}</p>
        <p>{{product.material}}</p>
        <p><small>{{product.dimension}} (cm)</small></p>
        <img
            src="{{product.image}}"
            alt="{{product.name}} image"
            style="max-width: 80%; height: auto; border-radius: 10px"
            class="center"
        />
        <div style="display: flex; padding: 0.5em 0">
            <p class="text-muted" style="margin: 0; padding: 0.5em">
                Rp {{product.price}}
            </p>
            {% if product.sold %}
            <button class="btn btn-danger btn-sm" disabled>Sold Out</button>
            {% else %}
            <button class="btn btn-success btn-sm">Buy</button>
            {% endif %}
        </div>
    </div>

    {% if not first_product %}
    <div class="seen-box container">
        <h6>Based on last seen:</h6>
        <div style="display: flex; max-width: fit-content">
            <p>{{last_product.name}}</p>
            <div style="width: 30vw">
                <img
                    src="{{last_product.image}}"
                    alt="{{last_product.name}} image"
                    style="max-width: 100%; height: auto; border-radius: 10px"
                />
            </div>
        </div>
    </div>

    {% endif %} {% if products %}
    <div class="similar-box container">
        <h4>Next Similar Products</h4>
        <div class="card-columns">
            {% for p in products %}

            <div class="custom-card card">
                <img
                    class="card-img-top"
                    src="{{p.image}}"
                    alt="{{p.name}} image"
                />
                <div class="card-body">
                    <h5 class="card-title">{{p.name}}</h5>
                    <p class="card-text" style="margin: 0">
                        <small>{{p.material}}</small>
                    </p>
                    <p class="card-text" style="margin: 0">
                        <small class="text-muted">{{p.colours}}</small>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
